<h1>About</h1>
<p><%= link_to "pinpop", root_path %> is a sample Ruby on Rails project by <%= link_to "Chad Flores", "https://twitter.com/chadpflores" %>. Check out some of his other code <%= link_to "here", "https://github.com/cpflores" %>.</p>